html, body {height:100%; margin:0; padding:0; overflow:hidden;}
.simplefullpage_container {will-change: transform;}
section {height:100vh; position:relative; overflow:hidden;}
/* section.active {z-index:1;} */
section.auto-height {height:auto !important; overflow-y:auto; overflow-x:hidden;}
.scrollable {height:100vh; overflow-y:auto;}
.visual_cont {mix-blend-mode:difference; transition: color 0.8s ease; isolation: isolate;}
.visual_cont li {overflow: hidden;}
.visual_cont .project, .visual_cont .slogan {opacity:0; display:block; transition:all 0.8s ease-in-out;}
.visual_cont .slogan {transition-delay:0.2s;}
.visual_cont .project, .visual_cont .slogan {transform:translate3d(0, 200px, 0); opacity:0; will-change:transform, opacity;}
/* .visual_cont .slogan {transform:translate3d(0, 200px, 0); opacity:0; will-change:transform, opacity;} */
.visual_cont.active .project, .visual_cont.active .slogan {opacity:1; transform: translate3d(0, 0, 0);}
.parallax-bg {background-size:cover; background-position:center; position:absolute; top:0; left:0; right:0; bottom:0; z-index:-1; transition:transform 3s ease}
section.active .parallax-bg {transform:scale(1.2);}
.fp-nav {position:fixed; top:50%; right:30px; transform:translateY(-50%); z-index:1;}
.fp-dot {width:10px; height:10px; margin:10px 0; background:#ccc; border-radius:50%; cursor:pointer; transition:background 0.3s;}
.fp-dot.active {background:#333;}
.fp-arrows {position:fixed; right:30px; bottom:114px; z-index:1; display:flex; align-items:center; flex-direction:column; gap:10px;}
.fp-arrow {width:28px; height:28px; font-size:0; background-image:url('../images/common/icon_split.png'); background-position:0 0; background-repeat:no-repeat; background-size:500px auto; border:none; cursor:pointer; display:flex;}
.fp-next {transform:rotate(180deg);}
.fp-navi {margin-bottom:18px; color:#fff; font-size:24px; font-weight:600; line-height:102%; display:flex; align-items:center; flex-direction:column;}
.fp-navi em {font-style:normal; display:flex; flex-direction:column; align-items:center;}
.fp-navi em:before {height:77px; margin:10px auto; border-left:1px solid rgba(255,255,255,0.6); content:''; display:block;}
.visual_cont {color:#fff; font-size:100px; font-weight:800; line-height:102%; position:fixed; bottom:137px; left:30px; z-index:1;}
.visual_cont > .time > div {display:flex;}
.mo {display:none;}
.visual_cont > .time {text-transform:uppercase;}

.video-bg {width:100%; height:100vh; position:relative; overflow: hidden;}
.video-bg video {width:100%; height:100%;object-fit:cover; display: block;}

@media screen and (max-width:767px) {
    .pc {display:none !important;}
    .mo {display:block;}
    header .inner > a {display:none;}
    .visual_cont {font-size:40px; font-weight:800; line-height:102%;}
    .visual_cont + p {position:fixed; z-index: 100; bottom:40px; left:30px; display:flex; align-items:center; gap:10px;}
    .visual_cont + p > span, .visual_cont + p > a {color:#fff !important; mix-blend-mode:normal !important; background-color:rgba(0, 0, 0, 0.001);}
    #section_wrap span {margin-right:0px; font-size:14px; font-weight:800; vertical-align:text-top; display:inline-block;}
    .visual_cont + p > a {width:50px; height:50px; background-image:url('../images/common/icon_split.png'); background-repeat:no-repeat; background-size:500px 500px; background-position:0 -100px; display:inline-block;}
    .fp-arrows {top:100px;}
    .fp-arrow {display:none;}
    #bottom {display:none;}
    .fp-navi {display:flex; flex-direction:column; align-items:center; position:relative;}
    .fp-navi span {font-size:16px; font-weight:600; position:absolute; bottom:-20%; transform:rotate(90deg);}
    .fp-navi span::after {content:'/'; margin-left:10px; font-weight:100;}
    .fp-navi i {position: relative;  width: 3px; height: 150px; background: rgba(255, 255, 255, 0.3);}
    .fp-navi i::after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: var(--progress, 0%); background: #fff; transition: height 0.8s ease;}
    .fp-navi em {font-size:16px; font-weight:600; position:absolute; bottom:-35%; transform:rotate(90deg);}
    .fp-navi em:before {display:none;}



}
