.custom-cursor {width:80px; height:80px; color:white; font-size:16px; font-weight:bold; border-radius:50%; background:radial-gradient(circle at 60% 70%,rgba(0, 0, 0, 0.4) 5%,rgba(170, 170, 170, 0.6) 30%,rgba(200, 200, 200, 0.4) 100%); box-shadow:inset -5px -5px 10px rgba(0, 0, 0, 0.3); display:flex; align-items:center; justify-content:center; position: fixed; pointer-events: none; transform: translate(-50%, -50%); z-index: 9999; opacity: 0;transition: opacity 0.2s ease;}
.hide-cursor {cursor: none;}
.svg-wrapper {width: 100%; height: 100%; position: absolute; mix-blend-mode: difference; z-index: 1; pointer-events: none;}
.pc {display:none !important;}


/* 공통 섹션 스타일 */
.about_vision,.about_awards,.about_partners {width: 100%;position: relative;}
.about_vision,.about_awards,.about_partners {background-color:#fff; z-index:99 !important;}
.about_vision h2 p,.about_awards h2 p {overflow:hidden;}
.about_vision h2 p,.about_awards h2 p strong{transform:translate3d(0, 200px, 0); opacity:0; will-change:transform, opacity;}

.pc_vision {display:none;}
.about_visual {width: 100vw; height:100vh; padding-top:0; background-color: #000; position: fixed; top:0; left: 0; z-index:10; display:flex; overflow:hidden;}
.cont_inner {margin: 50px 30px 60px;}
h2 {font-size:40px; font-weight:700;}
h3 {font-size:24px; font-weight:700;}
section .cont_inner dl dd strong {font-size:24px; font-weight:700;}
section dt span {font-size:32px; font-weight:400;}
em {display:none;}

/* about_vision */
.about_vision {padding:50px 0 60px;}
.about_vision .cont_inner h2 {margin-top:170px;}
.about_vision .cont_inner h2 p {text-indent:105px; text-align:left; overflow:hidden; overflow-wrap: break-word;}
.about_vision .cont_inner h2 p:not(:first-child) {text-align:left;}
.about_vision .cont_inner > dl:first-of-type {margin:120px 0;}
.about_vision .cont_inner > dl dt {margin-bottom:40px;}
.about_vision .cont_inner > dl dt p {margin-bottom:24px; font-size:24px; font-weight:700;}
.about_vision .cont_inner > dl dt span {font-size:20px; font-weight:500;}
.about_vision .cont_inner > dl dd {display:flex; flex-wrap:wrap; justify-content:space-between;}
.about_vision .cont_inner dl dd dl {width:100%; margin-bottom:80px; display:flex; flex-direction:column;}
.about_vision .cont_inner dl dd dl dt {display:flex; flex-direction:column; gap:8px;}
.about_vision .cont_inner dl dd dl dd p:first-of-type {margin-bottom:16px;}
.about_vision .cont_inner .one dd {overflow:hidden;}
.about_vision .cont_inner .one dd strong {opacity:0; transform:translateY(100px); }
.about_vision .cont_inner .two dd dl {opacity:0;}
.about_vision .cont_inner .two br {display:none;}

/* about_awards */
.wrap > p {height:480px; padding-bottom:120px;  background-color:#fff; position:relative; z-index:99; overflow:hidden;}
.wrap > p > img {width:100%; height:100%; object-fit:cover; display:block; opacity:0; transform:translateY(100px); }
.about_awards {position:relative; overflow:hidden;}
.about_awards .cont_inner {margin-top:0;}
.about_awards h2 {margin-top:60px;}
.about_awards h2 br {display:none;}
.about_awards .cont_inner > dl > dt {width:480px;}
.about_awards .cont_inner > dl > dt img {max-width:288px; position:absolute; top:470px;}
.about_awards .cont_inner > dl > dd > p {font-size:24px;  margin:80px 0; font-weight:700;}
.about_awards .cont_inner > dl > dd > p br {display:none;}
.about_awards .cont_inner > dl > dd > ul {display:flex;}
.about_awards .cont_inner > dl > dd > .about_swiper ul li {width:150px !important; height:94px; padding:20px 24px 20px; background-color:#FAFAFA; box-sizing:border-box; display:flex; flex-direction:column;}
.about_awards .cont_inner > dl > dd > .about_swiper ul li strong {font-size:24px; font-weight:700;}
.about_awards .cont_inner > dl > dd > .about_swiper ul li span {margin-top:8px; font-size:12px; font-weight:500;}
.about_awards .cont_inner > dl > dd > div {margin-top:150px;}
.about_awards .cont_inner > dl > dd > div:last-of-type {margin-top:60px;}
.about_awards .cont_inner > dl > dd > div:last-of-type p {display:flex; flex-direction:column; gap:8px}
.about_awards .cont_inner > dl > dd > div p {margin-bottom:8px;}
.about_awards .cont_inner > dl > dd > div p:last-of-type {margin-bottom:0;}
.about_awards .cont_inner > dl > dd > div p span{color:#808080; font-size:10px; font-weight:400; }
.about_swiper {position: relative;}
.about_awards .cont_inner dl dd h2 p {overflow:hidden;}
.about_awards .cont_inner dl dd h2 p strong {font-size:40px; font-weight:700; display:block;}
.about_awards .cont_inner dl dd dl dt span {width:58px; height:58px; box-sizing:border-box; background-image:url('/assets/images/common/icon_split.png'); background-size:500px 500px;  display:inline-block;}
.about_awards .cont_inner dl dd dl {padding:50px 0; border-bottom:1px solid #E9E9E9;}
.about_awards .cont_inner dl dd dl:last-of-type {border-bottom:0;}
.about_awards .cont_inner dl dd dl dd {display:flex; flex-direction:column;}
.about_awards .cont_inner dl dd dl dd div {display:flex;}
.about_awards .cont_inner dl dd dl dd div > p {display:flex; flex-direction:column;}
.about_awards .cont_inner dl dd dl dd div {display:flex; flex-direction:column;}
.about_awards .cont_inner dl dd dl dd div em {font-size:16px; font-weight:400; line-height:160%; display:block;}
.about_awards .cont_inner dl dd dl dd div i {margin-bottom:16px; color:#808080; font-size:14px; font-weight:400; line-height:160%;}
.about_awards .cont_inner dl dt {margin-right:40px;}
.about_awards .cont_inner dl dd dl:nth-of-type(1) dt span {background-position:-244px -172px;}
.about_awards .cont_inner dl dd dl:nth-of-type(2) dt span {background-position:-183px -172px;}
.about_awards .cont_inner dl dd dl:nth-of-type(3) dt span {background-position:-122px -172px;}
.about_awards .cont_inner dl dd dl:nth-of-type(4) dt span {background-position:-61px -172px;}
.about_awards .cont_inner dl dd dl:nth-of-type(5) dt span {background-position:-0px -172px;}



/* about_partners */
.pc_list {display:none !important;}
.about_partners {background:#000;}
.about_partners .cont_inner {margin-bottom:0; padding-bottom:120px;}
.about_partners h3 {padding-top:120px; margin-bottom:60px; color:#fff;}
.about_partners ul {display:flex; flex-wrap:wrap; align-items:center;}
.about_partners ul li {width:33.333%; padding:20px; box-sizing:border-box;}
.about_partners ul li {text-align:center; opacity:1;}
.about_partners ul li img {width:100%;}

.swiper-container {overflow:visible}