em,i {font-style: normal;}
.mo {display:block;}
#bottom {padding:28px 30px; position:fixed; right:0; bottom:0; left:0; z-index:100; display:flex; align-items:center; justify-content:space-between;}
#bottom * {color:#fff; font-size:14px; font-weight:800; letter-spacing:0;}
#bottom div {display:flex; align-items:center; gap:160px;}
#bottom .download {display:flex; align-items:center; gap:12px;}
#bottom .download:after {width:20px; height:20px; background-image:url('/assets/images/common/icon_split.png'); background-position:-50px 0; background-repeat:no-repeat; background-size:500px auto; content:''; display:block;}
.pc {display:none;}
.cont_inner {padding:0 30px;}
strong {font-weight:800;;}

.cont_inner {padding-top:120px;}
.cont_inner > p {overflow:hidden;}
.cont_inner > p > strong {font-size:48px; line-height:102%; letter-spacing:-2%; display:block; transform:translateY(100px);}
.cont_inner > .visual_cont {padding:20px 0 30px;}
.cont_inner > .visual_cont div {font-size:60px;}
.cont_inner > .visual_cont div strong {font-size:26px;}
.cont_inner > .visual_cont div p {width:120px; margin-top:18px; font-size:12px; font-weight:400; overflow:hidden;}
.cont_inner > .visual_cont div p span {display:block; opacity:0; transform:translateY(100px); transition:all 1s; transition-delay:0.2s;}
/* 나타날 때 */
.visual_cont div p span.animated {opacity:1; transform:translateY(0);}

/* swiper 영역 */
.on_list_swiper {margin:0 -30px;}
.swiper-container {position:relative; overflow:visible !important;}
.swiper-wrapper {align-items:flex-end; z-index:5;}
.swiper-slide {overflow:hidden;}
.swiper-slide {height:400px !important;}
.swiper-slide.swiper-slide-next {height:400px !important;}
.swiper-slide.swiper-slide-active {width:330px !important; height:486px !important;} 
.swiper-slide.swiper-slide-active section img {height:100%;} 
.swiper-slide section {width:100%; height:100%; overflow:hidden;}
.swiper-slide section img {height:100%; object-fit:cover; display:block; }
.swiper-slide a > div {width:100%; margin-top:24px; margin-bottom:30px; position:absolute; position:absolute; left:0; bottom:0; z-index:2;}
.swiper-slide a > div > p em, .swiper-slide a div p span {font-size:14px; font-weight:700; line-height:140%; display:inline-block; opacity:0; transition:all 0.8s;}
.swiper-slide a > div > p {overflow:hidden;}
.swiper-slide a > div > p em {transform: translateY(200%); transition-delay:0.5s;}
.swiper-slide a > div > p > span {transform: translateY(200%); transition-delay:1s;}
.swiper-slide a > div button {opacity:0;; transition-delay:1.6s;}
.swiper-slide.swiper-slide-active a > div p em, .swiper-slide.swiper-slide-active a > div p span, .swiper-slide.swiper-slide-active a > div button {transform: translateY(0%); opacity:1;}
.swiper-slide.swiper-slide-active a section {position:relative;}
.swiper-slide.swiper-slide-active a section::after {content:''; width:100%; height:100%; background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.6) 50%,rgba(0, 0, 0, 0.8) 100%); position:absolute; top:0; left:0; z-index:1; opacity:0.4; pointer-events: none;}
.swiper-slide.swiper-slide-active a section p img {position:relative; z-index:1; display: block;}
.swiper-slide a > div em {margin-left:30px; padding:5px 16px; color:#fff; border:1px solid #fff;}
.swiper-slide a > div span {margin:20px 0 20px 30px; color:#fff; font-weight:300 !important; border:1px; display:block; white-space:normal; word-break:keep-all;}
.swiper-slide a > div > div {display:none;}
.swiper-slide button {width:50px; height:50px; margin:20px 0 0 30px; background-image:url('../images/common/icon_split.png'); background-repeat:no-repeat; background-size:500px 500px; background-position:0 -100px; transition:all 0.8s;}
.swiper-pagination {width:50px; height:30px; top:-40px; left:76.153846%}
.swiper-pagination-current, .swiper-pagination-total {margin-right:3px; font-weight:600;}
.swiper-pagination-total {margin-left:3px;}

#bottom {display:none;}
.swiper-lazy-preloader {
    width: 24px;
    height: 24px;
    margin: 10px auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
    transform: rotate(360deg);
    }
}