/* Reset & Base */
html,
body { height: 100%; margin: 0; padding: 0; color: #fff; overflow: hidden; } 
.pc { display: none; } 
body,
a,
button { user-select: none; -webkit-user-select: none; } 
@media screen and (max-width: 768px) { html { font-size: calc(100vw / 39); } 
 }
* { box-sizing: border-box; } 
img { display: block; max-width: 100%; object-fit: cover; } 
.sr-only { text-indent: -9999px; } 
#wrap { position: relative; height: 100dvh; } 
.custom-cursor { display: none; } 
.project-wrapper { display: none; } 
.fullpage-container { position: relative; } 
.main-swiper { display: block; position: relative; height: 100dvh; z-index: 1; overflow: visible; } 
.main-swiper .swiper { width: 100%; height: 100dvh; margin: 0 !important; overflow: hidden; } 
.main-swiper .swiper-slide { position: relative; width: 100%; height: 100%; flex-shrink: 0; margin: 0 !important; padding: 0 !important; } 
.swiper-slide.gradient { position: relative; } 
.swiper-slide.gradient::after { content: ''; position: absolute; width: 100%; height: 35.071dvh; left: 50%; top: calc(50% - 4px); transform: translate(-50%, -50%); background: linear-gradient(to right, rgba(249, 18, 18, 0.5) 0%, rgba(255, 11, 11, 0) 100%); filter: blur(100px); z-index: -1; } 
.swiper-scrollbar { position: absolute; width: 46.1538vw !important; height: 2px !important; left: 50% !important; bottom: 20.142% !important; transform: translateX(-50%) !important; z-index: 10 !important; background: rgba(255, 255, 255, 0.5); } 
.swiper-scrollbar-drag { background-color: #fff; } 
.heading { position: absolute; top: 22.51%; left: 50%; transform: translateX(-50%); display: flex; flex-direction: column-reverse; gap: 1.6rem; width: 100%; padding: 0 3rem; z-index: 2; pointer-events: none; } 
.title li,
.sub-title li { text-align: center; color: #fff; overflow: hidden; } 
.title span,
.sub-title span { display: inline-block; transform: translate3d(0, 200px, 0); opacity: 0; will-change: transform, opacity; } 
.title span { font-size: 3.6rem; font-weight: 700; line-height: 110%; letter-spacing: -0.72px; padding-bottom: 2.5px; } 
.sub-title span { font-size: 1.4rem; font-weight: 700; line-height: 110%; letter-spacing: -0.28px; text-transform: uppercase; } 
.sub-title br { display: none; } 
.project-info { display: none; } 
/* 터치 레이어 */
.swiper-touch-layer { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; z-index: 100; background: transparent; pointer-events: auto; }
.thumbnail-swiper { position: absolute; padding: 0 4.5rem; width: 100%; left: 0; top: 50%; transform: translateY(-31.5%); margin: 0 auto; z-index: 1; } 
.thumbnail-viewer { display: flex; justify-content: flex-start; box-sizing: border-box !important; } 
.thumbnail.swiper-slide { width: 24.5rem !important; height: 24.5rem !important; margin-top: auto; flex: 0 0 auto; transition: width 0.3s ease-in-out, height 0.3s ease-in-out; overflow: hidden; will-change: transform, opacity; touch-action: none; } 
.thumbnail img,
.thumbnail video { pointer-events: none; } 
.thumbnail a { touch-action: pan-y; } 

.thumbnail.swiper-slide-active { width: 30rem !important; height: 30rem !important; overflow: hidden; } 
.project-list-button { display: flex; gap: 8px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 5.924%; color: #fff; font-size: 1.8rem; font-weight: 700; line-height: 102%; letter-spacing: -0.36px; z-index: 100; } 

/* project list viewer */
.project-viewer { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background: #fff; transform: translateY(100%); transition: transform 0.6s ease-in-out; overflow-y: auto; } 
.project-viewer header { position: sticky; left: 0; top: 0; height: 9.48dvh; padding: 2.6rem 3rem; display: flex; align-items: center; justify-content: flex-end; flex-shrink: 0; background-color: #fff; } 
.project-viewer header .close { width: 2.6rem; height: 2.6rem; background-image: url('./../images/project/close.svg'); background-repeat: no-repeat; background-size: cover; background-position: center; z-index: 500; } 
.project-viewer-scrollable { flex: 1; overflow-y: auto; -webkit-overflow-scrolling: touch; } 
.project-viewer.active { transform: translateY(0); } 
.project-viewer .sticky-wrapper { display: none; } 
.project-list { position: relative; padding: 6rem 3rem 3rem; color: #000; } 
.project-list__title h2 { font-size: 3.8rem; font-weight: 800; line-height: 110%; letter-spacing: -0.76px; } 
.project-list__title p { font-size: 1.6rem; font-weight: 400; line-height: 110%; letter-spacing: -0.32px; margin-top: 1.6rem; } 
.lists { margin-top: 6rem; } 
.lists > .list-item { display: block; padding: 1.6rem 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); } 
.ani-bottom { display: none; } 
.lists > .list-item p { position: relative; max-width: calc(100% - 3.8rem); font-size: 1.8rem; font-weight: 700; line-height: 102%; letter-spacing: -0.36px; } 
.list-item[data-link='true'] p::after { content: ''; position: absolute; margin-left: 3rem; margin-top: 3px; width: 8px; height: 8px; background-color: #fc3232; border-radius: 50%; } 
.ani-top ol { display: flex; margin-top: 1.2rem; gap: 0.8rem; font-size: 1.2rem; font-weight: 400; line-height: 102%; letter-spacing: -0.24px; } 
/* bottom */
#bottom { display: none; } 
