/* 공통영역 */
em,i {font-style: normal;}
.mo {display:none;}
* {cursor:none;}

#bottom {padding:28px 30px; background:#000; position:fixed; right:0; bottom:0; left:0; z-index:80; display:flex; align-items:center; justify-content:space-between;}
#bottom * {color:#fff; font-size:14px; font-weight:800; letter-spacing:0;}
#bottom div {display:flex; align-items:center; gap:160px;}
#bottom .download {display:flex; align-items:center; gap:12px;}
#bottom .download:after {width:20px; height:20px; background-image:url('/assets/images/common/icon_split.png'); background-position:-50px 0; background-repeat:no-repeat; background-size:500px auto; content:''; display:block;}
.cont_inner {width:1440px; max-width:100%; margin:0 auto; padding:0 20px;}
strong {font-weight:800;;}

.cont_inner {padding-top:220px;}
.cont_inner > p {overflow:hidden;}
.cont_inner > p > strong {font-size:90px; line-height:102%; letter-spacing:-2%; text-align:center; display:block; transform:translateY(100px);}
.cont_inner > .visual_cont {padding-top:90px;  padding-bottom:200px;;}
.cont_inner > .visual_cont div {font-size:60px; text-align:center;}
.cont_inner > .visual_cont div p {margin-top:18px; font-size:30px; font-weight:600; overflow:hidden;}
.cont_inner > .visual_cont div p br {display:none;}
.cont_inner > .visual_cont div p span {display:block; opacity:0; transform:translateY(100px); transition:all 1s; transition-delay:0.2s;}
/* 나타날 때 */
.visual_cont div p span.animated {opacity:1; transform:translateY(0);}


/* swiper 영역 */
.swiper-wrapper {flex-wrap:wrap; gap:41px;}
.swiper-slide {width:100%;; max-width:30.4%; box-sizing:border-box;}
.swiper-slide:hover section img {transform:scale(1.3);}
.swiper-slide section {box-sizing:border-box; overflow:hidden;}
.swiper-slide section img {width:100%; object-fit:cover; display:block; transition:all 2.5s;}
.swiper-slide:first-of-type section img {height:100%;}
.swiper-slide a > div {margin-top:24px; margin-bottom:150px;}
.swiper-slide a > div > p em, .swiper-slide a > div > p > span {font-size:24px; font-weight:600; line-height:140%; letter-spacing:-1.5%; }
.swiper-slide a > div > p {padding-right:1.875rem;}
.swiper-slide a > div > p span {margin:40px 0 20px; display:block; white-space:normal; word-break:keep-all;}
.swiper-slide a > div > div {display:flex; gap:5px; flex-wrap:wrap;}
.swiper-slide a > div i {font-size:18px; font-weight:300; line-height:142%; letter-spacing:-2%;}
.swiper-pagination {display:none;}
.swiper-lazy-preloader {display: none !important;}


@media screen and (min-width: 769px) and (max-width: 1399px) {
  .cont_inner {width:100% !important; padding-left:30px; padding-right:30px; box-sizing: border-box;}
  .swiper-wrapper {gap:41px;}
  .swiper-slide {width:100% !important; max-width:47.9%;  box-sizing: border-box;}
  .swiper-lazy-preloader {display: none !important;}
}