.cont_inner {width:1460px; margin:0 auto; padding:0 30px; box-sizing:border-box; text-align:center;}
.cont_inner span {font-size:22px; font-weight:700; line-height:130%;}
.cont_inner strong {margin-top:12px; margin-bottom:40px; font-size:52px; font-weight:800; display:block;}
.cont_inner strong br {display:none;}
.cont_inner i {font-weight:18px; font-weight:400; line-height:150%; display:block;}
.cont_inner i br {display:none;}
.cont_inner ul li {display:flex; justify-content:space-between;}
#layout > ul {padding:80px 30px 30px; display:flex;}
section {padding-top:100px;}
.content, .bg > .cont_inner, ul.cont_inner {will-change: transform, opacity;}
.content > img {width:100%;}
#layout > div.content {display:flex; gap:30px;}
.content {padding-left:30px; padding-right:30px;}
.content:nth-of-type(8) {padding-right:0; padding-left:0;}
ul.content {margin-top:100px; display:flex; gap:30px;}
ul.content li {width:50%;}
ul.content li img {width:100%;;}
p.content {padding-top:0;}

.scroll_cont {height:100%; min-height:1800px; padding-top:150px; display:flex; justify-content: center; gap:150px;}
.scroll_cont section {width:100%; max-width:1040px; box-sizing:border-box; position:relative;}
.scroll_cont section > div {width:100%; height:617px;border: 5px solid black; border-radius: 20px; box-sizing:border-box; filter: drop-shadow(-1px 20px 31px rgba(0, 0, 0, 0.09)) drop-shadow(-32px 53px 62px rgba(0, 0, 0, 0.09)); overflow: hidden; position: relative; z-index: 10;    }
.scroll_cont section > div > img {width:100%; position:absolute; top:0; left:0; display:block;}
.scroll_cont section p {width:100%; max-width:1039px; padding-top:100px; position:absolute; top:0; left:0;}
.scroll_cont p img {width:100%; object-fit:cover;}
.scroll_cont .type_2 {width:300px; max-width:100%; max-height:612px; padding-top:100px;}
.scroll_cont .type_2 > div {box-sizing:border-box; filter: drop-shadow(-8px 13px 34px rgba(0, 0, 0, 0.10)) drop-shadow(-32px 53px 62px rgba(0, 0, 0, 0.09));}

@media (max-width: 768px) {
    .content {padding-left:0; padding-right:0;}
    #layout > ul {padding:0 0 10px;}
    .cont_inner {width:100%; padding-left:0; padding-right:0;}
    .cont_inner span {font-size:14px; font-weight:700; line-height:130%;}
    .cont_inner strong {margin-top:12px; margin-bottom:32px; font-size:32px; font-weight:800; display:block;}
    .cont_inner strong br {display:block;}
    .cont_inner i {margin-bottom:80px; font-weight:14px; font-weight:400; line-height:150%; display:block;}
    .cont_inner i br {display:block;}
    ul.content {margin-top:0; gap:10px;}


    .scroll_cont {height:100%; min-height:570px; padding-top:80px; padding-left:30px; padding-right:30px; position:relative; display:block; gap:0;}
    .scroll_cont section {width:100%; max-width:280px; padding-top:0; box-sizing:border-box; position:relative;}
    .scroll_cont section > div {width:100%; height:181px; border:2px solid black; border-radius:10px; box-sizing:border-box; filter: drop-shadow(-148px 197px 95px rgba(0, 0, 0, 0.0)) drop-shadow(-5px 5px 31px rgba(0, 0, 0, 0.07)); overflow: hidden; position: relative; z-index: 10;    }
    .scroll_cont section > div > img {width:100%; position:absolute; top:0; left:0; display:block;}
    .scroll_cont section p {width:100%; max-width:995px; padding-top:0px; position:absolute; top:0; left:0;}
    .scroll_cont p img {width:100%; object-fit:cover;}
    .scroll_cont .type_1 {position:absolute;}
    .scroll_cont .type_2 {width:80px; max-width:100%; max-height:173px; padding-top:0px; position:absolute; top:22.540%; left:71.794%;}
}